<a href="<%= url_for(:controller => 'app_notifications', :action => 'view', :id => notification.id, :issue_id => notification.issue.id, :anchor => "change-#{notification.journal.id}") %>">
	<div class="notification-container <%= 'new' if !notification.viewed %>">	
		<div class="notification-title">
			<%= l(:text_issue_updated, :id => "##{notification.issue.id}", :author => h(notification.journal.user)) %>
		</div>
		<div class="notification-content">
			<% journal_details.each do |string| %>
			<div><%= string %></div>
			<% end %>
		</div>
		<div class="notification-date"><%= format_time(notification.created_on) %></div>
	</div>
</a>