<div id="notificationsContainer">
	<div id="notificationsTitle"><%= l(:notifications) %></div>
	<div id="notificationsBody" class="notifications">
		<% @app_notifications.where(viewed: false).each do |notification| %>
			<% if notification.is_edited? %>
				<%= render :partial => 'issues/issue_ajax_edit', :formats => [:html], :locals => { :notification => notification, :journal => notification.journal, :journal_details => details_to_strings(notification.journal.visible_details(notification.author), false, :only_path => false) }%>
			<% else %>
				<%= render :partial => 'issues/issue_ajax_add', :formats => [:html], :locals => { :notification => notification }%>
			<% end %>
		<% end %>
	</div>
	<div id="notificationsFooter">
		<a href="<%= url_for( {:controller => "app_notifications", :action => "index"} )%>"><%= l(:see_all) %></a>
	</div>
</div>
